html {
    height: 100%;
}

body {
	margin: 0;
	height: 100%;
	
	background-color: #EEE;
	
	font-family: 'Marvel', sans-serif;
    font-size: 1.1em;
	color: #444;
}


#wrapper {
    min-height: calc(100% - 3.05em);
}


#header {
    min-height: 1em;
    padding: 1em 0 1em 8%;
    
    background: url("../Images/fond.png") repeat scroll right center #025C73;
    border-bottom: 2px solid #025C73;
    
    color: #EEE;
    font-size: 1.3em;
}
#header .left {
    display: inline-block;
    
    font-size: 2.2em;
    font-weight: bold;
}
#header .right {
    float: right;
    position: relative;
    right: 8%;
    
    max-width: 35%;
    margin-top: 1.2em;

    text-align: right;
}
#header .right select {
    font-size: 12px;
}
#header .right #persoTop {
    margin-top: 5px;
    padding: 6px 5px;
    
    background-color: #025C73;
    border-radius: 7px;

    font-size: 0.6em;
}
#header img {
    vertical-align: middle;
    margin-right: 4px;
}
#header a {
    text-decoration: none;
    color: #EEE;
}

hr {
    width: 100%;
    visibility: hidden;
    clear: both;
}

#body {
    padding: 1% 8%;
}
strong {
    font-size: 1.1em;
}
#body span.small + p {
    margin-top: 30px;
}
#body .persoInfo {
    display: none;
    position: absolute;
    padding: 5px;

    background-color: #FFF;
    border: 2px solid #CCC;

    color: #2222AA;
}
#body .persoInfo div {
    display: none;
}
#body .persoInfo div:last-child {
    margin-top: 5px;
}
#body #prono {
    position: absolute;
    right: 8%;

    padding: 10px 20px;

    background-color: #F3F3F3;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);

    border: 1px solid #DDD;
    border-right: 0;
}
#body #prono a {
    color: #FF6600;
    text-decoration: none;
}
#body .int {
    padding: 30px;
    
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#body a#prev {
    display: block;
    margin-bottom: 30px;
    color: #FF6600;
    text-decoration: none;
}


#body .left {
    display: inline-block;
    vertical-align: top;

    width: 70%;
    margin-right: 10px;
}
#body .left div:not(#prev + div) {
    text-align: right;
    color: #4F9FCF;
}
#body #graphique {
    width: auto;
    height: 200px;

    background-color: #FAFAFA;
    border: 1px solid #F0F0F0;
}
#body #prev + div {
    padding-left: 15px;
    margin-left: 15px;
    margin-bottom: 10px;

    border-left: 3px solid #4B8CC9;
}
#body #prev + div .small {
    margin-bottom: 2px;
}

#body .underline {
    text-decoration: underline;
}

#body .infoLeft {
    width: 60%;
}

#body h2 {
    margin-bottom: 30px;
    
    font-size: 1.8em;
    font-weight: bold;
}
#body h2.withSmall {
    margin-bottom: 5px;
}
#body h2 + span.small {
    display: inline-block;
    margin-bottom: 30px;
}

#body a + h3 {
    margin: 30px 0 10px 0;
}
#body #success + h3 {
    margin: 0 0 10px 0;
}
#body h3 {
    margin: 10px 0 10px 0px;
    
    font-size: 1.4em;
    font-weight: bold;
}
#body form + h3 {
    margin-top: 60px;
}
#body h3 + .small {
    display: inline-block;
    margin-bottom: 15px;
}
#body h3 + .small a {
    color: #FF6600;
}
#body p + h3 {
    margin-top: 35px;
}

#body #rsltt {
    margin-left: 45px;
    color: #008822;
}

#body h4 {
    margin-bottom: 10px;
    
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: underline;
}
#body h4.second {
    margin-top: 40px;
}

#body #result {
    display: block;
    width: 60%;

    margin: 0 auto 25px;
    padding: 5px 10px;

    background-color: #F6F6F6;
    border: 2px solid #EEE;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.05) inset;

    text-align: center;
}
#body #result:hover {
    box-shadow: 0px 0px 9px rgba(255, 255, 255, 0.2) inset;
}
#body #result a {
    color: #443399;
    text-decoration: none;
}

#body h2#perso {
    display: inline-block;
}
#body h2#perso + a {
    margin-left: 20px;
    text-decoration: underline;
}
#body div.label  {
    margin-bottom: 5px;
}
#body #mod {
    width: 98%;

    margin: 35px auto;

    background-color: #F9F9F9;
    border: 1px solid #CCC;
}
#body h5 {
    display: inline-block;
    width: 100%;

    padding: 10px 15px;

    color: #FF6600;
    text-decoration: underline;

    font-size: 1.1em;
}
#body h5:hover {
    cursor: pointer;
}
#body #mod #changePerso {
    display: none;
}
#body form#changePerso div.label span:first-child, #body form#conn div.label span:first-child {
    width: 200px;
}
#body form#changePerso input[type='submit'] {
    margin-left: 380px;
}
#body div.label span {
    display: inline-block;
    width: 150px;
}
#body div.label span:last-child {
    width: auto;

    color: #444;
    font-weight: bold;
}
#body div.label + h3 {
    margin-top: 50px;
}
#body div.label + h3 + table {
    margin-left: 30px;
}

#body p {
    margin: 5px 5px 10px 20px;
    
    text-align: justify;
}
#body p:first-letter {
    margin-left: 25px;
    
    font-size: 1.1em;
}

#body a.orange {
    color: #FF6600;
    text-decoration: none;
}
#body a.orange:hover {
    color: #CD5200;
}
#body a.orange.next {
    display: inline-block;
    margin-top: 20px;
}
#body #selectPage a {
    display: inline-block;
    margin: 0 2px;

    text-decoration: none;
    color: #FF6600;
}
#body #selectPage a:hover {
    background-color: #EEE;
}
#body #selectPage span {
    display: inline-block;
    margin: 0 2px;
}

#body table {
    width: 90%;
    margin: 40px 0 40px 20px;
}
#body table#marches {
    width: 60%;
    margin: 40px auto;
}
#body h3 + table {
    width: 60%;

    margin: 0;
    margin-top: 25px;
    margin-left: 10px;
}
#body table.rouge, #body table.vert {
    width: 95%;
}
#body table.rouge th {
    background-color: #f02000;
    text-align: center;
}
#body table.vert th {
    background-color: #3fd16a;
    text-align: center;
}
#body table tr {
    margin-bottom: 100px;
}
#body table tr.empty {
    text-align: center;
}
#body table tr.th {
    background-color: #AAA;
}
#body tr th {
    padding: 5px;

    border-bottom: 2px solid #CCC;
    
    text-align: left;
    font-weight: bold;
}
#body tr:not(.th):not(.empty):not(.form):hover {
    background-color: #EEE;
}
#body form table.vert {
    overflow: hidden;
}
#body form table tr.info.last td {
    display: none;
}
#body form table tr.info div {
    position: relative;
    left: -1000px;
    margin: 0;
}
#body td a.finit {
    color: blue;
}
#body tr td {
    padding: 5px;
    
    color: #777;
}
#body tr td:nth-child(1) {
    width: 60%;
}
#body table.invest td:nth-child(1) {
    width: 45%;
}
#body tr td:nth-child(2) {
    width: 25%;
}
#body table.invest td:nth-child(2) {
    width: 45%;
}
#body table.invest td:nth-child(2).last {
    width: 55%;
}
#body tr td:nth-child(3) {
    width: 15%;
    text-align: right;
}
#body table.invest td:nth-child(3) a{
    width: 10%;
    color: red;
}
#body td a {
    color: #777;
    text-decoration: none;
}
#body td input[type='submit'] {
    float: right;
}
#body table .positif {
    color: #4e9a06;
}
#body table .negatif {
    color: #cc0000;
}
#body table td span.achatInfo {
    color: #007777;
}

#body form div:first-child {
    margin-top: 30px;
}
#body span#error {
    display: block;
    margin-bottom: 20px;

    color: #FF0000;
    font-weight: bold;
}
#body form span#error {
    margin-left: 10px;
}
#body #prev + span#error {
    color: red;
}
#body #prev + span#success {
    margin-bottom: 0;
}
#body h3 + span#success {
    margin-top: 25px;
    margin-bottom: 5px;
}
#body span#success {
    display: block;
    margin-bottom: 20px;

    color: #3fd16a;
    font-weight: bold;
}
#body form#conn span#success {
    margin-left: 10px;
}
#body form div {
    margin-bottom: 3px;
    margin-left: 15px;
}
#body form label {
    display: inline-block;
    width: 150px;
    vertical-align: top;

    color: #888;
}
#body form textarea {
    width: 365px;
    height: 50px;

    background-color: #FBFBFB;
    border-radius: 0;
    border: 1px solid #CCC;
}
#body form#changePerso .label span:first-child, #body form#conn .label span:first-child {
    height: 25px;
    line-height: 25px;

    padding: 5px;
    padding-left: 20px;
    vertical-align:top;

    background-color: #FCFCFC;
    box-shadow: 10px 0 10px rgba(33, 33, 33, 0.02) inset;

    border: 1px solid #CCC;
    border-right: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

    color: #444;
}
#body form#changePerso input[type="text"], #body form#conn input[type="text"], #body form#changePerso input[type="password"], #body form#conn input[type="password"] {
    height: 25px;
    width: 200px;

    margin: 0;
    padding: 5px;

    background-color: #FCFCFC;
    box-shadow: -10px 0 10px rgba(33, 33, 33, 0.02) inset;

    border: 1px solid #CCC;
    border-left: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    color: #444;
}
#body form#conn div:last-child {
    margin-top: 10px;
    width: 437px;
    text-align: right;
}
#body form#conn a#insc {
    color: #4F9FCF;
    text-decoration: none;
}
#body form input[type="text"], #body form input[type="password"] {
    padding: 2px;

    background-color: #FCFCFC;
    border: 1px solid #CCC;
}
#body form input[type="submit"] {
    padding: 1px;

    background-color: #FCFCFC;
    border: 1px solid #CCC;

    color: #555;
}
#body form input[type="submit"].achat {
    padding: 2px 7px;

    background-color: #428BCA;
    border: 1px solid #357EBD;

    color: #FFF;
}
#body form input[type="submit"].achat:first-of-type {
    margin-left: 5px;
}
#body form input[type="submit"]:hover {
    background-color: #EEE;
    border-color: #AAA;

    cursor: pointer;
}
#body form input[type="submit"].achat:hover {
    background-color: #3276B1;
    border-color: #285E8E;
}
#body form input.number {
    width: calc(100% - 4px);
}
#body form input.number.first {
    width: calc(33% - 4px);
}
#body form#conn input, #body form#pronostic input {
    display: inline-block;
    width: 175px;
}
html body #body form#conn, html body #body form#changePerso {
    display: block;
    width: 500px;
    margin: 0 auto;
}
html body #body form h3, html body #body form h2 {
    display: inline-block;
    margin-left: 10px;
}
html body #body form#conn input[type="submit"], html body #body form#changePerso input[type="submit"] {
    width: 437px;

    margin-bottom: 20px;
    margin-left: 15px;
    padding: 7px 0;

    background-color: #5CB85C;

    border: 1px solid #4CAE4C;
    border-radius: 5px;

    color: #FFF;
}
html body #body form#conn input[type="submit"]:hover, html body #body form#changePerso input[type="submit"]:hover {
    background-color: #47A447;
    border-color: #398439;
}
#body form#pronostic input[type="submit"] {
    width: 80px;
    margin-left: 455px;
}
#body form#resultat {
    display: inline-block;
    line-height: 30px;
}
#body form#resultat input[type='radio'] {
    margin-left: 20px;
    margin-top: 10px;
    vertical-align: top;
}
#body form#resultat input + span {
    text-decoration: underline;
}
#body form#resultat input[type='submit'] {
    margin-left: 30px;
}

#body .right {
    display: inline-block;
    float: right;
    width: calc(25% - 16px);
}
#body .infoRight {
    float: right;
    margin-top: 20px;

    width: calc(35% - 56px);
    padding: 15px;
}
#body .infoRight .small {
    margin-bottom: 5px;
}
.infoRight div {
    padding-left: 15px;
    margin-bottom: 10px;

    border-left: 3px solid #4B8CC9;
}
.infoRight h4 {
    margin-top: 10px;
}
#body .infoRight h4 + table {
    width: 90%;
    
    margin: 0 auto;
    margin-top: 15px;
}


#body .right .menu {
    margin-top: 15px;
    
    border: 3px solid #025C73;
}
#body .right .header {
    padding: 0.4em 0 0.4em 1em;
    
    background: url("../Images/fond.png") repeat scroll right center #025C73;
    
    font-size: 1.1em;
    color: #EEE;
}
#body .right .body {
    padding: 10px;
    
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.24) inset;
}
#body .right input[type="text"] {
    max-width: 60%;
}
#body .right input[type="submit"] {
    display: inline-block;
    max-width: 30%;
}
#body .right ul {
    margin-top: 5px;
}
#body .right li {
    margin-left: 15px;
    margin-bottom: 7px;
    list-style-type: circle;
}
#body .right li.all {
    padding-top: 10px;
    
    font-size: 0.9em;
    text-align: right;
    
    list-style-type: none;
}
#body .right a {
    color: #FF6600;
}
#body .right li:not(.all) a {
    text-decoration: none;
}
#body .right li a:hover {
    color: #CD5200;
}


#footer {
    height: 1em;
    padding: 1em 0;
    padding-right: 1em;
    
    background: url("../Images/fond.png") repeat scroll right center #025C73;
    border-top: 1px solid #444;
    
    color: #EEE;
    text-align: right;
}
