body {
	margin: 0;
	height: 100%;
	
	background-color: #EEE;
	
	font-family: Arial;
	color: #444;
}

#wrapper {
    min-height: calc(100% - 3.05em);
}

#header {
    min-height: 1em;
    padding: 1em 0 1em 1.5em;
    
    background:linear-gradient(to bottom, #5eb6d0, #025c73);
    border-bottom: 2px solid #444;
    
    color: #EEE;
    font-family: "Myriad Pro", Verdana, Arial;
    font-size: 1.3em;
}
#header .left {
    display: inline-block;
    width: 70%;
    
    font-size: 2.2em;
    font-weight: bold;
}
#header .right {
    float: right;
    position: relative;
    right: 2em;
    
    max-width: 30%;
    padding-top: 1.4em;
    
    font-size: 0.8em;
}
#header a {
	color: #EEE;
}

#body {
    padding: 0.5% 8%;
    
    text-align: justify;
}
#body .int {
    padding: 30px;
    
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#body h2 {
    margin-bottom: 10px;
    
    font-size: 1.8em;
    font-weight: bold;
}
#body p {
    margin-top: 10px;
    
    text-align: justify;
}
#body p:first-letter {
    margin-left: 25px;
    
    font-size: 1.1em;
    font-weight: bold;
}

#footer {
    height: 1em;
    padding: 1em 0;
    padding-right: 1em;
    
    background:linear-gradient(to top, #5eb6d0, #025c73);
    border-top: 1px solid #444;
    
    color: #EEE;
    font-family: "Myriad Pro", Verdana, Arial;
    text-align: right;
}
